@using e_commerce_store.ViewModels
@model LoginViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="card-container">
    <form class="form" asp-action="Login" asp-controller="Account">
        <p class="title">Login</p>
        <p class="message">Login to your account!</p>
        <label>
            <input required asp-for="Identifier" placeholder="" type="text" class="input">
            <span>Username</span>
            <span asp-validation-for="Identifier" class="validation-msg"></span>
        </label>

        <label>
            <input asp-for="Password" required placeholder="" type="password" class="input">
            <span>Password</span>
            <span asp-validation-for="Password" class="validation-msg"></span>
        </label>

        <div asp-validation-summary="ModelOnly" class="validation-msg"></div>

        <button class="submit" type="submit">Login</button>
        <p>Don't have an account ? <a asp-action="Register">Sign up</a></p>
    </form>
</div>
