@using e_commerce_store.ViewModels
@model LoginViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="wrapper">
        <form asp-action="Login" asp-controller="Account">
        <h1>Login</h1>
        <div class="input-box">
            <input asp-for="Identifier" type="text" placeholder="username" required>
            <span asp-validation-for="Identifier" class="text-danger"></span>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input asp-for="Password" type="password" placeholder="password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
            <p>Don't have an account ? <a asp-action="Register">register</a></p>
        </div>
        </form>
    </div>
</div>
