# ASP.NET and Visual Studio files
obj/
bin/
*.user
*.vs

# Packages
packages/

# Build output
*.dll
*.exe
*.pdb

# Logs and databases
*.log
*.sqlite

# NuGet
*.nupkg

# IDE-specific files
.vscode/
.idea/