@using e_commerce_store.data.Enum
@using e_commerce_store.ViewModels
@model OrderEditStatus
@{
    ViewData["Title"] = "Order Edit Status";
}


<form method="post" asp-controller="Order" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id" />
    <div class="col">                        
        <select asp-for="status" asp-items="@Html.GetEnumSelectList<OrderStatus>()" class="form-control form-control-lg">
                <option>--Select--</option>
        </select>
        <span asp-validation-for="status" class="text-danger"></span>
    </div>
    <div class="col">
        <button class="btn btn-block btn-success btn-lg" type="submit">Edit</button>
    </div>
</form>