@model e_commerce_store.ViewModels.CreateProductViewModel
@{
    ViewData["Title"] = "Create Product";
}

<form asp-action="Create" enctype="multipart/form-data">
  <div class="form-group">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" class="form-control"  placeholder="Enter Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
    <div class="form-group">
    <label asp-for="SKU" for="SKU">SKU</label>
    <input asp-for="SKU" type="text" class="form-control" placeholder="SKU Of Product">
    <span asp-validation-for="SKU" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Description" for="Description">Description</label>
    <input asp-for="Description" type="text" class="form-control" placeholder="Descreption">
    <span asp-validation-for="Description" class="text-danger"></span>
  </div>
    <div class="form-group">
    <label asp-for="File">Prdouct Image</label>
    <input asp-for="File" type="file" class="form-control form-control-lg" placeholder="Image" />
    <span asp-validation-for="File" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Files">Other Images</label>
    <input asp-for="Files" type="file" class="form-control" multiple class="form-control-file" />
    <span asp-validation-for="Files" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Price" for="Price">Price</label>
    <input asp-for="Price" type="number" class="form-control" placeholder="Price">
    <span asp-validation-for="Price" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="ReleaseDate">Release Date</label>
    <input asp-for="ReleaseDate" type="datetime-local" />
  </div>
  <div class="form-group">
    <label asp-for="CategoryId" class="control-label"></label>
    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control"></select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
  </div>
  <button asp-page-handler="Upload" type="submit" class="btn btn-primary">Add</button>
</form>
