@model e_commerce_store.ViewModels.CreateProductViewModel
@{
    ViewData["Title"] = "Create Product";
}
<div style ="display:flex;justify-content:center;align-content:center;align-items:center">

<div style="min-height:100rem; max-width:80rem;">
<form asp-action="Create" enctype="multipart/form-data">
    <h3 style="text-align:center;">Add a product</h3>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SKU" for="SKU">SKU</label>
        <input asp-for="SKU" type="text" class="form-control" placeholder="SKU Of Product" required>
        <span asp-validation-for="SKU" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" for="Description">Description</label>
        <textarea asp-for="Description" class="from-control" placeholder="Descreption" required rows="4" style="display:block; width:100%; min-height:35px; max-height:125;"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="File">Prdouct Image</label>
        <input asp-for="File" type="file" class="form-control form-control-lg" placeholder="Image" required style="height:35px;"/>
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Files">Other Images</label>
        <input asp-for="Files" type="file" class="form-control" multiple class="form-control-file"  />
        <span asp-validation-for="Files" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" for="Price">Price</label>
        <input asp-for="Price" type="number" class="form-control" placeholder="Price" required>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" type="datetime-local" required />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control" required>
            <option value="" selected disabled hidden>select a category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div style="display:flex;justify-content:center; margin-top:10px">
        <button class="btn btn-primary "  asp-page-handler="Upload" type="submit">Add</button>
    </div>
</form>
</div>
</div>