@model Product
@{
    ViewData["Title"] = "Create Product";
}

<form>
  <div class="form-group">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" class="form-control"  placeholder="Enter Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
    <div class="form-group">
    <label asp-for="SKU" for="SKU">SKU</label>
    <input asp-for="SKU" type="text" class="form-control" placeholder="SKU Of Product">
    <span asp-validation-for="SKU" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Derscription" for="Derscription">Derscription</label>
    <input asp-for="Derscription" type="text" class="form-control" placeholder="Descreption">
    <span asp-validation-for="Derscription" class="text-danger"></span>
  </div>
    <div class="form-group">
    <label asp-for="ImageURL" for="ImageURL">Image</label>
    <input asp-for="ImageURL" type="url" class="form-control" placeholder="Image URL">
  </div>
  <div class="form-group">
    <label asp-for="Price" for="Price">Price</label>
    <input asp-for="Price" type="number" class="form-control" placeholder="Price">
    <span asp-validation-for="Price" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Category</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
