@model Product
@{
    ViewData["Title"] = "Detail";
}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">@Model.Name</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="@Model.ImageURL" width="500" height="750" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Project Description</h3>
        <p>@Model.Description</p>
        <h3 class="my-3">Project Details</h3>
        <p>     Price:@Model.Price</p>
        <p>     Category:@Model.Category.Name</p>
      </div>
      <form method="post" asp-controller="Cart" asp-action="AddToCart">
        <input type="hidden" name="productId" value="@Model.Id" />

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1" required />

        <button type="submit">Add to Cart</button>
    </form>
    </div>
    <!-- /.row -->
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            </a>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  