@model e_commerce_store.ViewModels.CheckOutViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Checkout";
}

<div class="card-container">
    <form class="form" asp-action="Checkout" asp-controller="Cart">
        <p class="title">Checkout</p>
        <label>
            <input required asp-for="UserName" placeholder="" type="text" class="input">
            <span>Username</span>
            <span asp-validation-for="UserName" class="validation-msg"></span>
            @Html.HiddenFor(model => model.UserName)
        </label>

        <label>
            <input asp-for="UserEmail" required placeholder="" type="email" class="input">
            <span>Email</span>
            <span asp-validation-for="UserEmail" class="validation-msg"></span>
            @Html.HiddenFor(model => model.UserEmail)
        </label>

        <label>
            <input asp-for="PhoneNumber" required placeholder="" type="text" class="input">
            <span>Phone Number</span>
            <span asp-validation-for="PhoneNumber" class="validation-msg"></span>
        </label>

        <label>
            <input asp-for="FirstName" required placeholder="" type="text" class="input">
            <span>First Name</span>
            <span asp-validation-for="FirstName" class="validation-msg"></span>
        </label>

        <label>
            <input asp-for="LastName" required placeholder="" type="text" class="input">
            <span>Last Name</span>
            <span asp-validation-for="LastName" class="validation-msg"></span>
        </label>

        <label>
            <input asp-for="City" required placeholder="" type="text" class="input">
            <span>City</span>
            <span asp-validation-for="City" class="validation-msg"></span>
        </label>

        <label>
            <input asp-for="Address1" required placeholder="" type="text" class="input">
            <span>Address 1</span>
            <span asp-validation-for="Address1" class="validation-msg"></span>
        </label>

        <label>
            <input asp-for="Address2" required placeholder="" type="text" class="input">
            <span>Address 2</span>
            <span asp-validation-for="Address2" class="validation-msg"></span>
        </label>

        <label>
            <input asp-for="TotalPrice" required placeholder="" type="text" hidden="hidden">
            <h4>Total: @(Model.TotalPrice + "S.p")</h4>
            <span asp-validation-for="TotalPrice" class="validation-msg"></span>
            @Html.HiddenFor(model => model.TotalPrice)
        </label>

        <button type="submit" class="submit">Place Order</button>
    </form>
</div>

