@{
    Layout = "_LoginLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/order-succeeded.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Order Confirmation</title>
</head>
<body>
    <div class="container">
        <div class="confirmation-card">
            <h1>The order was successfully placed</h1>
            <p>Order preparation process has started<br/>
                Your order should arrive at your door shortly!
            </p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">
                Shop More Products
            </a>
        </div>
    </div>
</body>
</html>