/* Product Section */
#products {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    flex-wrap: wrap;
}

a {
    color: #0a53be;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:10px;
    margin-bottom: 30px;
    background-color: white;
    color: #0a53be;
    border: solid 2px gray;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightgray;
    text-align: center;
    width: 23%;
    cursor: pointer;
}

.product div {
    /* border-bottom: solid 2px #c57d1e; */
    /*border-radius: 5px 5px 0 0;*/
    height: 180px;
    overflow: hidden;
    display:flex;
    justify-content:center;
}

.product img {
    /*border-radius: 5px 5px 0 0;*/
    display:inline-block;
    height: 100%;
    width:auto;
}

.product h3 {
    margin-top: 10px;
}

.product a {
    margin-top: 10px;
}

.product p.price {
    font-weight: bold;
    margin-bottom: 10px;
}

.cartButton {
    width: 95%;
    height: 50px;
    margin: 5px;
    background: #0a53be;
    color: white;
    border: none;
    border-radius: 10px;
}

.increaseProducts, .decreaseProducts {
    font-size: large;
    width: 30px;
    height: 30px;
    background: #0a53be;
    color: white;
    border: none;
    border-radius: 10px;
}

.increaseProducts {
    margin-left: 20%;
}

.decreaseProducts {
    margin-right: 20%;
}

.cartButton:hover, .increaseProducts:hover, .decreaseProducts:hover {
    background: #083f8f;
    cursor: pointer;
}

.top-filter{
    position:sticky;
    top:70px;
    padding:0;
    margin:0;
}

.filter-container {
    padding:10px 0;
    display: flex;
    justify-content: space-around;
    color: #0a53be;
    /*border-bottom:2px solid #c57d1e;*/
}

hr{
    margin:0 20%;
}

.filter-container form{
    margin:0 10px;
}

.filter-btn {
    margin: 5px;
    padding: 5px;
    background: #0a53be;
    color: white;
    border: none;
    border-radius: 10px;
}

.search, .category {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;
}
.search{
    width:150px;
}


@media (max-width:768px) {
    .product {
        margin-bottom: 20px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        width: 45%;
    }

    .cartButton {
        height: 30px;
    }

    .bottom{
        margin:5px 5px;
    }

    .filter-container {
        padding: 5px 0;
    }
}

@media (max-width:500px) {
    .product {
        width: 90%;
    }
}
